.Jour{
    margin: 0 3vw;
}

.Hour{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    border-bottom: rgba(204, 204, 204, 0.6) 1px solid;
    width: 100%;
}

.Hour h4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    border-right: rgba(204, 204, 204, 0.6) 1px solid;

    height: calc(10vh + 1em);
    width: 7.5vw;
    padding: 1.5vh 0.5vw 1.5vh 0;

    font-size: 1em;
    font-weight: 100;
    text-align: center;
}

.header-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 1vh 1vw;
    padding-top: 1vh;
}

.header-nav h3{
    padding: 1vh 1vw;
}

.header-nav a h3{
    font-size: 1.5em;
}

.navigationDate{
    display: flex;
    flex-wrap: nowrap;
}

.JourContain{
    padding: 0 5vw;
}

.hourClass{

    padding-right: 2.5vw;
    width: 70vw;
    height: 70vh;

    overflow-x: hidden;
    overflow-y: auto;

}

.event{
    width: 90%;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-height: calc(10vh + 1em);
    overflow: auto;
    
}

.event .ConteneurVent{
    background-color: #87ceeb;

    padding: 0.9vh 0.9vw;
    margin: 1.1vh 1.1vw;

    border-radius: 10px;

    color: white;
}

.notSouligne{
    border-color: transparent;
}

.fixed{
    position: fixed;
    background-color: #fff;
    width: 85vw;
}

.pad-Hourclass{
    padding-top: 15vh;
}

@media (max-width : 600px){
    .Hour h4{
        width: 12.5vw;
    }
}

*{
    list-style: none;
    text-decoration: none;
  
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    font-size: calc(0.75vh + 0.75vw);
  }
  
  body {
    color:#222;
    font-family: 'Poppins', sans-serif;
  }
  
  #root{
    height: 100%;
  }

.link{
    margin: 1vh 1vw;

    text-decoration: none;
    text-align: right;

    border-bottom: 1px solid transparent;

    transition: all 0.7s ease;
}

::placeholder{
    font-size: 1em;
    font-weight: 100;
    opacity: 0.5;

}

.form-complete:focus{
    background-color: rgb(225, 225, 225);
}

* {
    scrollbar-width: auto;
    scrollbar-color: #4f7989 #ffffff;
    }
    
    *::-webkit-scrollbar {
    width: 5px;
    }
    
    *::-webkit-scrollbar-track {
    background: #ffffff;
    }
    
    *::-webkit-scrollbar-thumb {
    background-color: #4f7989;
    border-radius: 50px;
    border: 0px solid #ffffff;
    }